{% extends "base.html" %}

{% block content %}
<form hx-put="/tasks/{{ task.uuid }}" hx-headers='{"x-referer": "{{ request.headers["referer"] |e }}"}' hx-swap="none">
  {% include "tasks/_item_form_elts.html" %}

  <div class="field is-horizontal">
    <div class="field-label is-normal">
    </div>
    <div class="field-body">
      <div class="control">
        <button class="button is-primary" type="submit" name="status" value="">Save</button>
      {% if task.status == "pending" %}
        <button class="button is-primary" type="submit" name="status" value="completed">Done</button>
      {% elif task.status == "completed" %}
        <button class="button is-danger" type="submit" name="status" value="pending">Undo</button>
      {% elif task.status == "deleted" %}
        <button class="button is-danger" type="submit" name="status" value="pending">Restore</button>
      {% endif %}
      {% if task.status != "deleted" %}
        <button class="button is-danger" type="submit" name="status" value="deleted">Delete</button>
      {% endif %}
        <input class="button" type="reset" value="Reset">
      </div>
    </div>
  </div>
</form>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label" for="annotations">Annotations</label>
    </div>
    <div class="field-body">
      {% include "annotations/_list.html" %}
    </div>
  </div>

{% endblock %}
